body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #647FBC, #AED6CF, #FAFDD6);
  flex-direction: column;
}
.container {
  background-color: rgba(255, 255, 255, 0.322); 
  border-radius: 30px;
  font-family: sans-serif;
  box-shadow: 0 0 20px #000;
  display: flex;
  flex-direction: column;
  padding: 50px 40px 55px 40px;
  align-items: center;
  max-width: 600px;
  width: 100%;
  text-align: center;
}
h1{
    margin-top: 20px;
    text-shadow: 0 0 3px #000;
}
label{
    font-size: 20px;
    text-shadow: 0 0 2px #000;
}
button {
  border-radius: 15px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 16px;
  text-shadow: 0 0 4px #000;
  box-shadow:0 0 2px #000;
  color: #000;
  font-size: 20px !important;

}
button:hover {
  color: #2c3e50;
  transform: scale(1.05);
  border: 2px solid;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"] {
  width: 100%;
  max-width: 500px;
  padding: 7px;
  font-size: 20px;
  box-shadow: 0 0 10px #000;

}
